<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
    .subcat{
        display: none;
    }

    .cate:hover .subcat{
        display:block;
     position: absolute;
     margin-left: 140px;  
     background-color:rgb(204, 204, 204);
     top:0px;
     padding: 5px;
     text-decoration: none;
    height: 170px;
    width: 200px;
    list-style-type: none;
    margin-top: 10px;
    }
.subcat a{
    color: black;
}
li.subcat1:hover{
    background-color: 	#E8E8E8;
}

</style>
<body>
 
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
              <li class="nav-item active">
                
                <div class="dropdown">
                    
                    <h4 class="text-white dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        categories</h4>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      
                      {%for i in categories%}
        
                            <div class="cate dropdown-item">
                                {{i.cname}}
                                <ul class="subcat ">
                                    
                                    {%for j in i.get_categories%}
                                    
                                    <li class="subcat1" ><a style="text-decoration: none;" href="{%url 'subcatpage' j.slug %}">

                                        {{j.subcname}}
                                    </a>
                                </li>
                                    <hr>
                                    {%endfor%}
                                </ul>
                            </div>
                        
                        
                        {%endfor%}
                    </div>
                  </div>
              </li>
              
            </ul>
          </nav>
         {%block content%}

         {%endblock%}
       
</body>
</html>